$title-color: #4e5150;
$subtitle-color: #333333;
$label-color: #4f4f4f;
$placeholder-color: #828282;
$accent-color: #f2994a;
$btn-bg-color: #e0e0e0;
$bg-color: #f2f2f2;

$ffmain: Montserrat;


$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
